{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="header--center">
    <br />
    <br />
    <h1 class="font--mont font--xlarge">HACK YOUR LIFE</h1>
    <p class="font--medium font--light">멋쟁이 사자처럼 고려대학교 8기 모집</p>
  </div>
  <div class="body--center">
    <br /><br />
    {% if user.is_authenticated %} {% if user.question %}
    <p>
      지원마감 : 2020.03.19 21:59까지
    </p>
    <br />
    <a href="{% url 'edit' user.question.user_id %}">
      <div class="boxing--reverse">지원서 수정</div>
    </a>
    {% else %}
    <p>
      지원서는 한 번만 작성하실 수 있으며, 마감 기한 전까지 수정 가능합니다!
    </p>
    <br />
    <br />
    <a href="{% url 'question' %}">
      <div class="boxing">지원서 작성</div>
    </a>
    {% endif %} {% else %}
    <a href="{% url 'signin' %}">
      <div class="boxing">로그인/회원가입</div>
    </a>
    {% endif %}
    <br />
  </div>
</div>
{% endblock %}
